<div class="row">
    <div class="span12">
        <form class="form-horizontal" method="POST" action="{{{referrer}}}">
            <legend>Create Record</legend>
            {{#columns}}{{#.}}{{#field}}
            <div class="control-group">
                <label class="control-label">{{column}}</label>
                <div class="controls">
                    {{{field}}}
                </div>
            </div>
            {{/field}}{{/.}}{{/columns}}
            <div class="form-actions">
                <input name="model" value="{{model}}" type="hidden">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <a href="{{{referrer}}}" class="btn">Cancel</a>
            </div>
        </form>
    </div>
</div>